<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Explore</title>
    <%- include("../partials/heading") %>
    <body>
      <%- include("../partials/user_nav")%>
      <section class="section">
        <div class="columns is-multiline">
          <% if(tournaments.length){%> <% tournaments.forEach(obj => { var x =
          moment(obj.start_date).format("YYYY-MM-DD"); var y =
          moment(obj.end_date).format("YYYY-MM-DD");%>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-header">
                <p class="card-header-title is-centered"><%= obj.tname%></p>
              </div>
              <div class="card-content">
                <p class="card-header-subtitle"><%= obj.sport%></p>
                <% if(obj.sport_type==="team") {%>
                <p>Team</p>
                <p>Number Of Teams : <%=obj.numofteams%></p>
                <p>Players Per Team: <%=obj.playerspteam%></p>
                <% }else {%>
                <p>Single</p>

                <p>Players : <%=obj.number_single_player%></p>

                <% } %>

                <p>start_date :<%= x %></p>
                <p>end_date :<%= y %></p>
              </div>
              <footer class="card-footer">
                <button class="button card-footer-item">
                  <a
                    href="/user/tournament/<%= obj._id%>"
                    class="card-footer-item"
                  >
                    Register</a
                  >
                </button>
              </footer>
            </div>
          </div>
          <% })%> <% }else { %>
          <div class="container">
            <h1 class="has-text-centered">NO Tournaments</h1>
          </div>
          <%}%>
        </div>
      </section>
      <style>
        .card:hover {
          transform: translate3D(0, -1px, 0) scale(1.03);
        }
        h1 {
          font-size: xx-large;
        }
      </style>
      <script></script>
    </body>
  </head>
</html>
