<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Profile</title>
    <%- include("../partials/heading") %>
    <body>
      <%- include("../partials/user_nav")%>
      <section class="section">
<div class="container is-widescreen m-4">
        <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth m-2">
    <div class="box m-4">
     
<div class="level">
  <div class="level-left">
    <div class="level-item"></div>
     <div class="level-item">
    <div class="container">
        <h1 class="title has-text-centered ">Edit Profile</h1>
        </div>
        </div>
  </div>
 
        <div class="level-right">
          <a class="button level-item is-info" href="/user/edit_password">Edit Password</a>
        </div>
        </div>
        <form action="/user/edituserprofile" id="myform" method="post" onsubmit="return validate()">
<input type="hidden" id="bg" value="<%=user_obj.bloodgroup%>">
<div class="field">
   <label class="label">Name :<span id="star">*</span></label>
  <div class="control has-icons-left has-icons-right">
    <input class="input " type="text" placeholder="Name" name="name" required value="<%=user_obj.name%>" >
    <span class="icon is-small is-left">
      <i class="fa fa-info"></i>
    </span>
    <small></small>
    </div>
    </div>

 <div class="field mb-0">
                    <label class="label">Address<span id="star">*</span></label>
                    <p class="control has-icons-left">
                      <input
                        class="input"
                        type="text"
                        placeholder="Address"
                        name="address"
                        required
                        value="<%=user_obj.address%>"
                      />
                      <span class="icon is-small is-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <small></small>
                    </p>
                    
   
                  </div>
  <div class="field mb-0">
                    <label class="label">Age<span id="star">*</span></label>
                    <p class="control has-icons-left">
                      <input
                        class="input"
                        type="number"
                        min="10"
                        placeholder="Age"
                        name="age"
                        min=10
                        value="<%=user_obj.age%>"
                        required
                      />
                      <span class="icon is-small is-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <small></small>
                    </p>
                    
                   
                  </div>
<div class="field mb-0">
                    
                    <label class="label">Blood Group<span id="star">*</span></label>
                         <div class="control has-icons-left"></p>
                    <div class="select">
                      <select class="is-hovered" name="bloodgroup" id="blood">
                        <option value="A+" selected>A Positive</option>
                        <option value="A-">A Negative</option>

                        <option value="B+">B Positive</option>
                        <option value="B-">B Negative</option>

                        <option value="AB+">AB Positive</option>
                        <option value="AB-">AB Negative</option>

                        <option value="O+">O Positive</option>
                        <option value="O-">O Negative</option>
                      </select>
                  
                  </div>
                    <span class="icon is-small is-left">
                        <i class="fa fa-medkit"></i>
                      </span>
                    </div>
                  </div>
  <% msg.forEach(m => { %>
                  <h2 class="has-text-danger"><%= m %></h2>
                  <%})%>
                  <div class="field has-text-centered mb-0">
            
                    <input type="submit" class="button is-success" value="Save Changes" id="btn">
                  </div>
               
                 



        </form>








 </div>
  </div>
</div>
</section>
<script src="/js/edit_user_val.js"></script>
    </body>
  </head>
   
     <%- include("../partials/footer") %>
  </head>
  </html>
    <style>
    #star
    {
        color: red;
    }
     #searchandinput
    {
      visibility: hidden;
    }
    #searchicon
    {
    visibility: hidden;
    }
    #Searchone
    {
      visibility: hidden;
    }
    small
    {
      color: red;
      font-size: small;
    }
       @keyframes slideInLeft {
          0% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
        section {
          animation: 1s ease-out 0s 1 slideInLeft;
animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
          padding: 40px;
        }
 


  </style>
  </html>