<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Tournaments</title>
    <%- include("../partials/heading") %>
    <body>
      <%- include("../partials/admin_nav")%>
      <section class="section">
        <% var is_single=0; var is_team=0; if(level){%> <%-
        include("../partials/search_feature") %><%}%> <% var
        f=0;if(teams_obj.length){ is_team=1;%>
        <div class="container" id="teams">
          <h1>Teams</h1>
          <div class="columns is-multiline">
            <% teams_obj.forEach(obj => { var x =
            moment(obj.start_date).format("YYYY-MM-DD"); var y =
            moment(obj.end_date).format("YYYY-MM-DD");%>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title is-centered"><%= obj.tname%></p>
                </div>
                <div class="card-content">
                  <p class="card-header-subtitle"><%= obj.sport%></p>

                  <p>Number Of Teams : <%=obj.numofteams%></p>
                  <p>Players Per Team: <%=obj.playerspteam%></p>
                  <p>Teams Registered:<%=obj.curr_num_teams%></p>

                  <p></p>

                  <p>Tournament Status: <%=obj.status_tournament%></p>
                  <p>start_date :<%= x %></p>
                  <p>end_date :<%= y %></p>
                </div>
                <footer class="card-footer">
                  <% if(obj.status_tournament!="Cancelled") {%>
                  <a
                    href="/admin/tournaments/<%= obj._id%>"
                    class="card-footer-item"
                    >Check Info</a
                  >
                  <a
                    href="/admin/edit_tournament/<%= obj._id%>"
                    class="card-footer-item"
                    >Modify</a
                  ><%}%>
                </footer>
              </div>
            </div>
            <% })%>
          </div>
        </div>
        <br>
        <% }else { f=1; %> <%}%> <% if(single_obj.length){ is_single=1;%>
        <div class="container" id="single">
          <h1>Single</h1>
          <div class="columns is-multiline">
            <% single_obj.forEach(obj => { var x =
            moment(obj.start_date).format("YYYY-MM-DD"); var y =
            moment(obj.end_date).format("YYYY-MM-DD");%>

            <div class="column is-one-third">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title is-centered"><%= obj.tname%></p>
                </div>
                <div class="card-content">
                  <p class="card-header-subtitle"><%= obj.sport%></p>

                  <p>Players : <%=obj.number_single_player%></p>
                  <p>Players Registered:<%=obj.curr_num_teams%></p>
                  <p></p>
                  <p></p>

                  <p>Tournament Status: <%=obj.status_tournament%></p>
                  <p>start_date :<%= x %></p>
                  <p>end_date :<%= y %></p>
                </div>
                <footer class="card-footer">
                  <% if(obj.status_tournament!="Cancelled") {%>
                  <a
                    href="/admin/tournaments/<%= obj._id%>"
                    class="card-footer-item"
                    >Check Info</a
                  >
                  <a
                    href="/admin/edit_tournament/<%= obj._id%>"
                    class="card-footer-item"
                    >Modify</a
                  ><%}%>
                </footer>
              </div>
            </div>
          
          <% })%> <% }else { if(f==1){ %>
          <div class="container">
            <h1 class="has-text-centered">NO Tournaments</h1>
          </div>
          <%}}%>
       </div>
      </section>
         <%- include("../partials/footer") %>
      <style>
        .card:hover {
          transform: translate3D(0, -1px, 0) scale(1.03);
        }
        h1 {
          font-size: xx-large;
        }
        @keyframes slideInLeft {
          0% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
        section {
          animation: 1s ease-out 0s 1 slideInLeft;
animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
          padding: 40px;
        }
      </style>
      <script>
        let sin = "<%=is_single%>";
        let tea = "<%= is_team%>";
        sin = parseInt(sin);
        tea = parseInt(tea);
        if (!sin) {
          document.getElementById("div_selector").options[1].disabled = true;
        }
        if (!tea) {
          document.getElementById("div_selector").options[2].disabled = true;
        }
        if (!sin && !tea) {
          document.getElementById("div_selector").options[0].disabled = true;
        }
        function div_show() {
          let pointer_select = document.getElementById("div_selector");
          let ans = pointer_select.value;
          let sin = "<%=is_single%>";
          let tea = "<%= is_team%>";
          sin = parseInt(sin);
          tea = parseInt(tea);
          console.log(typeof sin + " " + tea);
          if (ans === "all") {
            if (tea) {
              document.getElementById("teams").style.display = "block";
            }
            if (sin) {
              document.getElementById("single").style.display = "block";
            }
          } else if (ans === "team") {
            if (tea) {
              console.log("asd");
              document.getElementById("teams").style.display = "block";
              if (sin) {
                console.log("dsa");
                document.getElementById("single").style.display = "none";
              }
            }
          } else {
            if (sin) {
              document.getElementById("single").style.display = "block";
            }
            if (tea) {
              document.getElementById("teams").style.display = "none";
            }
          }
        }
        function form_send() {
          console.log(window.location.href);
          const Url = new URL(window.location.href);
          const start_val = document.getElementById("start").value;
          console.log(start_val + " sad");
          const end_val = document.getElementById("end").value;
          if (new Date(start_val).getTime() > new Date(end_val).getTime()) {
            console.log("hi");
            document.getElementById("sm").innerText =
              "End Date should be greater than start date";
            return false;
          }
          if (start_val != "" && end_val != "") {
            Url.searchParams.set("start_date", start_val);
            Url.searchParams.set("end_date", end_val);
            console.log(Url);
            const ans = Url.pathname + Url.search;
            console.log(Url.search);
            console.log(ans);
            //  document.getElementById("theform").action = ans;
            window.location.href = ans;
            return true;
          } else if (start_val == "" && end_val == "") {
            console.log("dsasd");
            console.log(Url.searchParams.get("start_date"));
            if (
              Url.searchParams.get("start_date") &&
              Url.searchParams.get("end_date")
            ) {
              Url.searchParams.delete("start_date");
              Url.searchParams.delete("end_date");
            }
            const ans = Url.pathname + Url.search;

            window.location.href = ans;
            return true;
          } else {
            document.getElementById("sm").innerText =
              "Both dates are to be filled;";
            return false;
          }
          //console.log(document.getElementById("theform").action);
        }
      </script>
    </body>
  </head>
</html>
